body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #f4f4f4;
}
nav {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    z-index: 10;
}

.wrapper {
    width: 90%;
    max-width: 600px;
    margin: auto;
}

.logo a {
    font-size: 28px;
    font-weight: 800;
    color: rgb(255, 221, 0);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    float: left;
    padding: 20px 0;
}

.menu {
    float: right;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    display: flex;
}

.menu ul li {
    margin-left: 0px;
}

.menu ul li a {
    font-weight: bold;
    color: #333;
    text-decoration: none;
    padding: 20px 10px;
    display: block;
}

.menu ul li a:hover {
    text-decoration: underline;
    color: rgb(255, 221, 0);
}

#login {
    background: #fff;
    margin-top: 60px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: rgb(255, 221, 0);
    margin-bottom: 20px;
}

p {
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button.tbl-kuning {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    background: rgb(255, 221, 0);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.tbl-kuning:hover {
    background: #000;
}

a {
    color: rgb(255, 221, 0);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {
    .wrapper {
        width: 80%;
    
    }
    .logo a {
        font-size: 23px;
        float: left;
        margin-top: 80px;
    }
    .menu ul {
      margin-top:90px;
    }
    .menu ul li {
        float: left;
    }
    .menu ul li a {
     font-size: 15px;
     text-align: center;
    }

    #login {
        background: #fff;
        margin-top: 130px;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    h2 {
        font-size: 20px;
    }

    label {
        font-size: 14px;
    }

    input {
        font-size: 13px;
        padding: 8px;
        width: 95%;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }

    p {
        font-size: 13px;
    }
    }
