body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #f9f9f9;
}
.logo {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: rgb(255, 221, 0);
    font-family: 'Poppins', sans-serif;
}

.logo a:hover {
    color: #000;
    text-decoration: underline;
}

.wrapper {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.form-section {
    text-align: center;
}

h2 {
    font-family:  'Poppins', sans-serif;
    font-size: 25px;
    color: rgb(255, 221, 0);
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input:focus {
    border-color: rgb(255, 221, 0);
    outline: none;
}

button {
    width: 100%;
    background: rgb(255, 221, 0);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #000;
    color: #fff;
}

p {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #555;
}

p a {
    color: rgb(255, 221, 0);
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}
