html{
    scroll-behavior: smooth;
}
* {
   font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: beige;
    border: 2px;
}

.wrapper{
    width:1100px;
    margin: auto;
    position: relative;
}
.logo a {
    font-size: 40px;
    position: relative;
    font-weight: 800;
    float: left;
    color: rgb(105, 45, 255);
    text-decoration: none;
    margin-left:30px;
    padding:0px;
}
.menu {
    float: right;
    position: relative;
}

nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: beige;
    z-index: 1;
    border-bottom: 1px solid rgb(105, 45, 255);
}

nav ul {
    position: relative;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    
}
nav ul li {
    float: left;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 0px;
    padding-left: 0px;

}

nav ul li a {
    color: rgb(105, 45, 255);
    font-weight: bold;
    text-align: center;
    padding: 10px 6px 10px 6px;
    text-decoration: none;
    
}
nav ul li a:hover {
    text-decoration: underline;
   
 }


.blue-button {
    background: rgb(105, 45, 255);
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor:pointer;
    font-weight: bold;
}

.blue-button:hover{
    background:rgb(58, 0, 203);
    text-decoration: none;
    color: white;
    filter: drop-shadow(0 0 1px rgb(105, 45, 255));
}
section{
    margin: auto;
    display: flex;

}

.kolom {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    margin: auto;
}

.kolom .deskripsi {
    font-size:20px;
    font-weight: bold;
    color: black;
    margin-top:10%;
    margin-bottom: 10px;
}

.kolom p {
    margin-top: 20px;
}

h2 {
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 40px;
    margin-top: 10px;
    margin: auto;
    color: black;
    width: 100%;
    list-style: 50px;
}

.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid rgb(105, 45, 255);
    border-radius: 50%;
    color:  rgb(105, 45, 255);
    margin: 25px 5px auto;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links i:hover{
    scale: 1.3;
    color: black;
    background-color:rgb(105, 45, 255);
    filter: drop-shadow(0 0 10px rgb(105, 45, 255));
}
.inside h2 {
    font-size:25px;
    color:rgb(105, 45, 255);
    margin: 50px auto;
    text-align: center;
}
h3 {
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 50px;
    color: rgb(105, 45, 255);
    width: 100%;
    list-style: 50px;
}

.inside h3 {
    margin-left: 10px;
    font-size: 20px;
    margin-top:5px;

}

p {
    margin-bottom: 0px;
    margin-top: 10px;
}

span {
    color: rgb(105, 45, 255);
}
.inside {
    width:100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding:50px 0px 50px 0px;
  
}
.inside-section {
    width: 20%;
    height: 280px;
    margin: 0 auto;
    border: 2px solid rgb(105, 45, 255); 
    border-radius: 10px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: #ecebdeba;
    transition: transform 0.9s ease;
    cursor:pointer;
}
.inside-section:hover {
    transform: scale(1.05); 
    box-shadow: 0 1px 20px rgb(105, 45, 255); 
    transition-duration: 530ms;
}

.inside-section ul li {
    margin-right:20px;
}

#copyright {
text-align: center;
margin-top: 30px;
background-color: white;
}

.isi h3 {
    text-align: center;
    margin-top:10px;
    font-size:30px;
}

h4 {
    font-size: 25px;
    margin:auto;
    margin-top: 30px;
    color: rgb(105, 45, 255); 
    font-weight: bold;
}
.tengah {
    text-align: center;
    width: 100%;
}

/* character */
 

.character-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    margin-top: 20px;
  }
  

.character-card {
    width: 13%;
    margin: 0px 25px 20px 25px;
    border: 2px solid rgb(105, 45, 255);
    border-radius: 15%; 
    transform: scale(1.05); 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    transition-duration: 420ms;
    transition: transform 0.9s ease;
    background-color:  #ecebdeba;
}
.character-card:hover {
    box-shadow: 0 1px 20px rgb(105, 45, 255);
    transform: scale(1.20);
}
.character-card img {
width:80%;
border-radius: 50%;
margin-top: 5px;
}


.character-card p {
    font-weight: 800;
    font-size: 15px;
    text-align: center;
    color: black;
    margin: 0 auto;
}



